* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #808080;
    padding: 10px;
    text-align: right;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.customer {
    margin-top: 50px;
}
.customer h2{
    background-color: #808080;
    color: #fff;
}
.product {
    padding: 10px;
    width: calc(100% / 3 - 1rem);
    border: 1px solid #191919;
}

.product img {
    height: 200px;
}
.price {
    text-decoration: line-through #ff0000;
}
